.columnHeader, .dataCell {
    width: 80px;
    text-align: left;
  
  }
  
  .dataInputRow label {
    width: 80px; /* Adjust if needed */
    margin-right: 10px;
    text-align: left; /* Align label text */
  }
  
  .dataInput {
    width: 80px;
    margin-right: 10px;
    padding: 5px;
    color: blue;
  }
  
  .dataInputRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .sectionTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    /* Other styling as needed */
  }
  